// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-auto-rows: 1fr;
    grid-gap: 10rem;
    padding-bottom: 6rem;
    max-width: 114rem;
    margin:0 auto;
    height: 100%;
}

.page-title-container {
    max-width: 114rem;
    margin:0 auto;
    margin-top:3rem;
    margin-bottom: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.form-container {
    max-width: 114rem;
    margin: 0 auto;
}

.form-field {
    margin-bottom: 3rem;
}

.form-label {
    display: block;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}
.form-field {
    display: block;
    font-size: 1.6rem;
    padding:.1rem;
    width: 50%;
}

.page-title {
    font-size: 2rem;

}

#edit-btn {
    cursor: pointer;
    font-weight: 700;
    display: inline-block;
    background-color: white;
    color: #3e3e3e;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 100rem;
    box-shadow: 0 .2rem 1rem rgba(0,0,0,0.3);
    text-decoration: none;
    transition: all .2s;

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,0.3);
    }

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .3rem 1rem rgba(0,0,0,0.3);
    }
}

.card {
    width: 100%;
    background-color: white;
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.3);

    &--top-image {
        width: 100%;
        height: 25rem;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &--content{
        padding:1rem;

        &-name {
            font-size: 1.4rem;
        }

        &-author {
            color: #d5d5d5;
        }
    }

    &--link {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        transition: all .2s;

        &:hover {
            background-color: rgba(255,255,255,.3);
        }
    }

}

.gaku {
    width: 100%;
    height: 100%;
}
